<!-- Toolbar -->
<div class="toolbar" role="banner">
  <ul>
    <li style="margin-right: 20px;">
      <a href="/" >Characters</a>
    </li>
    <li style="margin-right: 20px;">
      <a href="/episodes" >Episodes</a>
    </li>
    <li style="margin-right: 20px;">
      <a href="/locations" >Locations</a>
    </li>
  </ul>
  <div class="logo" style="width: 150px;position: absolute;">
    <img
    width="150"
    alt="Rick and Morty Logo"
    src="../assets/img/logo.png"
    style="user-select: none;"
    draggable="false"
    /> 
  </div>
  
</div>