 <app-toolbar></app-toolbar>

<div class="content" role="main">
    <div style="display: flex;justify-content: center;">
        <input id="searchInput" class="search-input" placeholder="search">
        <button class="search-button" onclick="search()">
            <img src="../assets/img/icon-search.png">
        </button>
    </div>
    <div class="py-5">
        <div class="container">
            <div id="card-container" class="row hidden-md-up">
            </div>
        </div>
    </div>
    <nav>
        <ul id="pagination" class="pagination">
        </ul>
    </nav>
</div>
