@font-face {
    font-family: shlop;
    src: url("src\assets\fonts\shlop rg.ttf");
}


body {
    background: linear-gradient(116.82deg, #2B5973 0%, #171E28 100%) !important;
}

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 600;
    justify-content: center;
}

.content{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 10vw;
    padding-right: 10vw;
}

.card-character{
    height: 350px;
    background: linear-gradient(154.01deg, #E6C84C 0%, #FA9F44 100%);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.66);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 20px;
    cursor: pointer;
}

.title-card-character{
    font-family: Shlop;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.1em;
    color: #4CB5C3;
    z-index: 2;
}

.info-card-character{
    font-family: Shlop;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.1em;
    color: #B0C6C0;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.card-back-effect{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #274244 61.46%);
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.66));
    border-radius: 0px 0px 10px 10px;
    z-index: 1;
}

.card-image-character{
    margin-bottom: 15px;
    z-index: 2;
}

.image-background{
    position: absolute;
    margin-top: 200px;
    bottom: 0;
    left: 0;
    width: 100vw;
}

.cardR{
    margin: 0.4em;
}